body {
  color: #494949;
  font-size: 18px;
  line-height: 1.6;
  font-weight: lighter;
  font-family: 'Lora', serif;
  margin: 0;
}

h1 {
  color: #F0EBE6;
  font-weight: bold;
  font-size: 38px;
}

a {
  text-decoration: none;
}

h2 {
  color: #A0A0A0;
  font-weight: normal;
}

h1, h2 {
  font-family: 'Montserrat', sans-serif;
}

.text-centered {
  text-align: center;
}

#banner > .container > p {
  font-size: 30px;
  font-style: italic;
  font-weight: lighter;
  opacity: 0.8;
  color:#F0EBE6;
}

.link-medium {
  background-image: linear-gradient(to bottom, rgba(233, 253, 240, 1), rgba(233, 253, 240, 1));
  color: #636363;
  font-weight: lighter;
  font-size: 25px;
  font-style: italic;
}

.link-medium:hover {
  background-image: linear-gradient(to bottom, rgba(125, 255, 179, 1), rgba(125, 255, 179, 1));
}

#banner {
  background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url("https://images.unsplash.com/photo-1660144968117-76601d49d5a3?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1175&q=80");
  background-size: cover;
  background-position: center;
  padding: 150px 0;
}

.container {
  width: 700px;
  margin: 50px auto;
}

@media (max-width: 1200) {
  /* For a screen < 960px, this CSS will be read */
  .container {
    width: 900px;
  }
}

@media (max-width: 960px) {
  /* For a screen < 960px, this CSS will be read */
  .container {
    width: 700px;
  }
}

@media (max-width: 720px) {
  /* For a screen < 720px, this CSS will be read */
  .container {
    width: 500px;
  }
}

@media (max-width: 540px) {
  /* For a screen < 540px, this CSS will be read */
  .container {
    width: 300px;
  }
}
